@inject IJSRuntime jsRuntime
<div id="@Player.Id" class="tag" style="left:@(Player.Position.X)%;top:@(Player.Position.Y)%;">@Player.Name</div>

@code {
    [Parameter] public ViewModel.Player Player { get; set; }
    [Parameter] public float TargetTime { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        await jsRuntime.InvokeVoidAsync("startTweenAnimation", new object[] { Player.Id, Player.LastPosition.X, Player.LastPosition.Y, Player.Position.X, Player.Position.Y, TargetTime });
    }
}
